<p-toolbar>
	<div class="ui-toolbar-group-left">
		<button
			pButton
			type="button"
			label="Zurück"
			icon="pi pi-arrow-left"
			class="ui-button-secondary"
			routerLink="/"
		></button>
		<button
			pButton
			type="button"
			label="Neu"
			icon="pi pi-plus"
			routerLink="/patient"
		></button>
	</div>

	<div class="ui-toolbar-group-right">
		<button
			pButton
			type="button"
			icon="pi pi-search"
		></button>
		<button
			pButton
			type="button"
			icon="pi pi-times"
			class="ui-button-danger"
		></button>
	</div>
</p-toolbar>

<p-table [value]="patienten | async">
	<ng-template pTemplate="header">
		<tr>
			<th>Name</th>
			<th>Erstellt</th>
			<th>Geändert</th>
		</tr>
	</ng-template>
	<ng-template
		pTemplate="body"
		let-patient
	>
		<tr>
			<td>{{patient.name}}</td>
			<td>{{patient.creationDate | date:"short":undefined:"de-DE"}}</td>
			<td>{{patient.updatedOn | date:"short":undefined:"de-DE"}}</td>
		</tr>
	</ng-template>
</p-table>
