<div class="container">
	<p-card
		header="Patientendaten"
		routerLink="/patienten"
	>
		<div>Anlegen, updaten oder löschen von Patientendaten.</div>
	</p-card>

<!--	<p-card-->
<!--		header="Abrechnungsdaten"-->
<!--		routerLink="/page-not-found"-->
<!--	>-->
<!--		<div>Anlegen, updaten oder löschen von Abrechnungsdaten.</div>-->
<!--	</p-card>-->


<!--	<p-card-->
<!--		header="Gesamtübersicht"-->
<!--		routerLink="/page-not-found"-->
<!--	>-->
<!--		<div>Alle Daten auf einen Blick. Filter ermöglichen eine schnelle Übersicht.</div>-->
<!--	</p-card>-->

<!--	<p-card header="Export">-->
<!--		<div>Export von Daten zum Speichern in Dateien oder zur Verwendung in Excel.</div>-->
<!--	</p-card>-->

<!--	<p-card header="Import">-->
<!--		<div>Import von Daten, die zuvor in einer externen Datei gespeichert wurden.</div>-->
<!--	</p-card>-->
</div>
